/*                           creating 2 custom font-family properties font-family-base and font-family-title with the same list of fonts while Targeting the root     */
:root {
<<<<<<< HEAD
	--font-family-base: 'Helvetica Neue','Helvetica','Arial','sans-serif';
	--font-family-title:  'Helvetica Neue','Helvetica','Arial','sans-serif';
=======
	--font-family-base: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	--font-family-title:  'Helvetica Neue',Helvetica,Arial,sans-serif;
>>>>>>> 9a13c3334668b3aefd80aba840dbd01c752d25ee
}

/*      setting the body's font-family to font-family-base     */
body {
	font-family: var(--font-family-base);
}

/*            settitng font-family of all 6 headings to         */
h1,h2,h3,h4,h5,h6{
	fon-family: var( --font-family-title);
}
